API/node_modules



APP/hooks
APP/node_modules
APP/platforms
APP/plugins
APP/resources
APP/scss
APP/www/lib

APP/.bowerrc
APP/.editorconfig
APP/bower.json
APP/gulpfile.js
APP/ionic.config.json
APP/ionic.project
