API/node_modules
API/access.log
API/error.log



WEB/access.log
WEB/error.log



APP/node_modules
APP/platforms
APP/plugins

APP/hooks
APP/scss
APP/www/lib

APP/ionic.project

APP/.bowerrc
APP/bower.json
APP/.editorconfig
APP/gulpfile.js
APP/ionic.config.json
APP/package-lock.json



adminka/access.log
adminka/error.log
