.colorPlus{
    color: #390;
}
.colorMinus{
    color: #F80;
}
.colorOverPlus{
    color: #390;
}
.colorOverMinus{
    color: #f00;
}
.colorMove{
    color: #444;
}





.ionViewHome{}
.ionViewHome .blockLogo{
    width: 255px;
    margin: 70px auto 0px;
}
.ionViewHome .blockLogo:after{
    content: ' ';
    display: block;
    clear: both;
}
.ionViewHome .blockLogo .logo{
    width: 72px;
    float: left;
}
.ionViewHome .blockLogo .title{
    width: 175px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    padding-top: 13px;
    margin-left: 7px;
}
.ionViewHome .blockDescr{
    width: 255px;
    margin: 0px auto;
}
.ionViewHome .blockAuth{
    margin-top: 50px;
}
.ionViewHome .blockAuth .title{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
}





#loaderPage{
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1100;
}
#loaderPage .cssload-loader{
    width: 200px;
    height: 200px;
    z-index: 1110;
}
#loaderPage .loaderBG{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #DDDDDD;
    z-index: 1105;
}




/*
label.item-radio{
    border: none;
    display: inline-block;
}
label.item-radio .radio-content .item-content{
    padding: 4px 15px 4px 0px;
    margin-right: 13px;
    font-size: 90%;
}
label.item-radio input:checked + .radio-content .item-content{
    background-color: #fff;
}
label.item-radio .radio-content .radio-icon{
    right: 12px;
    top: 3px;
    padding: 0px;
    font-size: 18px;
}



.row.tableHead{
    background-color: #387ef5;
    color: #fff;
    padding-top: 5px;
}
.row.tableRow{
    border-bottom: 1px solid #eee;
    margin-top: 5px;
}
.tableItem{
    padding: 0px;
}
.tableItem .rowDate{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: #bbb;
}
.tableItem .rowData{
    margin-top: 5px;
}
.tableItem .rowDescr{
    color: #aaa;
    font-size: 80%;
    line-height: 1.2;
    white-space: normal;
    margin-top: -9px;
    padding-left: 10px;
    padding-right: 10px;
}



.nav-bar-block ion-header-bar.bar-header{
  background-color: #678c40;
  border-color: #555555;
  background-image: linear-gradient(0deg, #555555, #555555 50%, transparent 50%);
}



.bar > .button:nth-last-child(2){
    position: absolute;
    top: 5px;
    right: 40px;
    bottom: 5px;
}



.budgetsPage .totalSum{
    font-weight: bold;
}
*/
