.colorPlus{
    color: #390;
}
.colorMinus{
    color: #F80;
}
.colorOverPlus{
    color: #390;
}
.colorOverMinus{
    color: #f00;
}

.nav-bar-block ion-header-bar.bar-header{
  background-color: #678c40;
  border-color: #555555;
  background-image: linear-gradient(0deg, #555555, #555555 50%, transparent 50%);
}

.budgetsPage .totalSum{
    font-weight: bold;
}

.budgetsPage .tableHead{
    background-color: #387ef5;
    color: #fff;
}
