.colorPlus{
    color: #390;
}
.colorMinus{
    color: #F80;
}
.colorOverPlus{
    color: #390;
}
.colorOverMinus{
    color: #f00;
}
.colorMove{
    color: #444;
}





.headerMarginTop{
    margin-top: 40px;
}
.marginForAccountsTop{
    margin-top: 80px;
}
.emptyListText{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    color: #444;
    margin-top: 30px;
}





ion-header-bar.bar.bar-header{
  background: linear-gradient(180deg, #678c40 0%, #678c40 90%, transparent 100%);
}
ion-header-bar.bar.bar-header .title{
    color: #fff;
}
.accountsTopPanel{
    position: absolute;
    top: 45px;
    z-index: 10;
    overflow: hidden;
    height: 36px;
    background-color: #fff;
}
.accountsTopPanel ul li{
    display: block;
    float: left;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 16px;
}
.accountsTopPanel ul:after{
    content: ' ';
    display: block;
    clear: both;
}





.ionViewHome{}
.ionViewHome .blockLogo{
    width: 255px;
    margin: 70px auto 0px;
}
.ionViewHome .blockLogo:after{
    content: ' ';
    display: block;
    clear: both;
}
.ionViewHome .blockLogo .logo{
    width: 72px;
    float: left;
}
.ionViewHome .blockLogo .title{
    width: 175px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    padding-top: 13px;
    margin-left: 7px;
}
.ionViewHome .blockDescr{
    width: 255px;
    margin: 0px auto;
}
.ionViewHome .blockDescr strong{
    color: #f00;
}
.ionViewHome .blockAuth{
    margin-top: 50px;
}
.ionViewHome .blockAuth .title{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
}





.ionViewAccounts{}





.ionViewActions{}
.ionViewActions .listItem{
    padding: 0px;
}
.ionViewActions .listItem .rowDate{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: #333;
}
.ionViewActions .listItem .rowData{
    margin-top: 5px;
}
.ionViewActions .listItem .rowDescr{
    color: #aaa;
    font-size: 80%;
    line-height: 1.2;
    white-space: normal;
    margin-top: -9px;
    padding-left: 10px;
    padding-right: 10px;
}





.ionViewActionForm{}
.ionViewActionForm .item-radio{
    border: none;
}
.ionViewActionForm .item-radio .item-content{
    padding: 1px 5px;
    margin-right: 7px;
    font-size: 90%;
}
.ionViewActionForm .item-radio input:checked + .radio-content .item-content{
    background-color: #00f;
    color: #fff;
    border-radius: 4px;
}
.ionViewActionForm .item-radio .radio-icon{
    display: none;
}





.ionViewBudgets{}
.ionViewBudgets .select-years, .ionViewBudgets .select-months{
    padding: 15px 0px;
}
.ionViewBudgets .select-years select, .ionViewBudgets .select-months select{
    max-width: none;
    left: 0px;
    width: 100%;
}
.ionViewBudgets .totalSum{
    font-weight: bold;
}
.ionViewBudgets .tableHead{
    background-color: #387ef5;
    color: #fff;
    padding-top: 5px;
}
.ionViewBudgets .tableRow{
    border-bottom: 1px solid #eee;
    margin-top: 5px;
}





.ionViewForum{}
.ionViewForum .ionViewForum{
    font-weight: bold;
}
.ionViewForum .item{
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
}
.ionViewForum .item-divider{
    font-weight: bold;
}
.ionViewForum p{
    font-size: 12px;
    line-height: 1.3;
    color: #999;
    padding-top: 5px;
}
.ionViewForum .label-status{
    color: #fff;
    border-radius: 5px;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}
.ionViewForum .label-status.created{
    background-color: #ff7777;
}
.ionViewForum .label-status.viewed{
    background-color: #6666ff;
}
.ionViewForum .label-status.fixed{
    background-color: #44cc44;
}
.ionViewForum .label-status.closed{
    background-color: #aaaaaa;
}





.ionViewPostForm{}
.ionViewPostForm textarea{
    height: 80px;
}





.ionViewPost{}
.ionViewPost .postTitleBlock{
    padding: 0px 10px 10px;
}
.ionViewPost .postTitleBlock div{
    font-size: 16px;
    font-weight: bold;
}
.ionViewPost p{
    font-size: 12px;
    line-height: 1.3;
    color: #999;
    padding-top: 5px;
}
.ionViewPost .label-status{
    color: #fff;
    border-radius: 5px;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}
.ionViewPost .label-status.created{
    background-color: #ff7777;
}
.ionViewPost .label-status.viewed{
    background-color: #6666ff;
}
.ionViewPost .label-status.fixed{
    background-color: #44cc44;
}
.ionViewPost .label-status.closed{
    background-color: #aaaaaa;
}
.ionViewPost .item{
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
    font-size: 14px;
}





.ionViewCommentForm{}
    .ionViewCommentForm textarea{
        height: 80px;
    }





#loaderPage{
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1100;
}
#loaderPage .cssload-loader{
    width: 200px;
    height: 200px;
    z-index: 1110;
}
#loaderPage .loaderBG{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #DDDDDD;
    z-index: 1105;
}
