<div class="form-group">
	<label for="month">Місяць:</label>
	<select class="form-control" id="month" ng-model="category.month">
		<option value="">- Оберіть -</option>
		<option value="1">Січень</option>
		<option value="2">Лютий</option>
		<option value="3">Березень</option>
		<option value="4">Квітень</option>
		<option value="5">Травень</option>
		<option value="6">Червень</option>
		<option value="7">Липень</option>
		<option value="8">Серпень</option>
		<option value="9">Вересень</option>
		<option value="10">Жовтень</option>
		<option value="11">Листопад</option>
		<option value="12">Грудень</option>
	</select>
</div>
<div class="form-group">
	<label for="year">Рік:</label>
	<input type="text" class="form-control" id="year" ng-model="category.year" placeholder="XXXX" maxLength="4" size="4" />
</div>
<div class="form-group">
	<label for="category_id">Категорія:</label>
	<select class="form-control" id="category_id" ng-model="category.category_id">
		<option value=''>- Оберіть -</option>
		<option ng-repeat="item in categories" value='{{item.id}}'>{{item.title}}</option>
	</select>
</div>
<div class="form-group">
	<label for="sum">Сума:</label>
	<input type="text" class="form-control" id="sum" ng-model="category.sum" placeholder="0.00" size="7" />
</div>
