<nav class="navbar navbar-default" role="navigation" ng-controller="menuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav navbar-nav navbar-right" ng-click="hideMenu()">
                <li ng-class="setActive('/home')"><a href="#/home">Головна</a></li>
                <li ng-class="setActive('/signin')" ng-hide="isAuth"><a href="#/signin">Вхід</a></li>
                <li ng-class="setActive('/signup')" ng-hide="isAuth"><a href="#/signup">Реєстрація</a></li>
                <li ng-class="setActive('/actions')" ng-show="isAuth"><a href="#/actions">Транзакції</a></li>
                <li ng-class="setActive('/categories')" ng-show="isAuth"><a href="#/categories">Категорії</a></li>
                <li ng-class="setActive('/accounts')" ng-show="isAuth"><a href="#/accounts">Рахунки</a></li>
                <li ng-class="setActive('/budget')" ng-show="isAuth"><a href="#/budgets">Бюджети</a></li>
                <li ng-class="setActive('/forum')" ng-show="isAuth"><a href="#/forum">Форум</a></li>
                <li ng-class="setActive('/logout')" ng-show="isAuth"><a href="#/logout">Вихід</a></li>
            </ul>
        </div>
    </div>
</nav>
