<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-hide="formIsShown">{{message.text}}</div>
<div class="modal fade" id="popupEditForm" tabindex="-1" role="dialog" aria-labelledby="popupEditFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="popupEditFormLabel">{{account.id ? 'Редагування' : 'Додавання'}} рахунку</h4>
			</div>
			<div class="modal-body">
				<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-show="formIsShown">{{message.text}}</div>
				<form id="editForm" ng-submit="editAccount()">
					<input type="hidden" id="id" ng-model="account.id" />
					<div class="form-group">
						<label for="title">Назва:</label>
						<input type="text" class="form-control" id="title" ng-model="account.title" placeholder="Назва" />
					</div>
					<div class="form-group">
						<label for="balance">Баланс:</label>
						<input type="text" class="form-control" id="balance" ng-model="account.balance" placeholder="0.00" />
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="panel" ng-model="account.panel" /> Показувати на панелі</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="delAccount(account.id)" ng-show="account.id">Видалити</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="submit" form="editForm" class="btn btn-primary">{{account.id ? 'Зберегти' : 'Додати'}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupEditForm" ng-click="getAccount(false)">Додати</button>
		<div class="well" ng-if="!accounts.length">Немає записів</div>
		<ul class="list-group" ng-if="accounts.length">
			<li class="list-group-item" ng-repeat="item in accounts">
				<div class="rowData" data-toggle="modal" data-target="#popupEditForm" ng-click="getAccount(item.id)">
                    {{item.title}}
					<span class="pull-right{{item.balance >= 0 ? ' colorPlus' : ' colorMinus'}}">{{item.balance}}</span>
                </div>
			</li>
		</ul>
	</div>
</div>
