<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages">{{message.text}}</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-primary panelForm-add" ng-show="formType == 'add'">
			<div class="panel-heading">Додавання транзакції</div>
			<div class="panel-body">
				<form class="form-inline" ng-submit="addAction()">
					<ng-include src="'templates/_fieldsAction.html'"></ng-include>
					<button type="submit" class="btn btn-primary">Додати</button>
				</form>
			</div>
		</div>
		<div class="panel panel-primary panelForm-edit" ng-show="formType == 'edit'">
			<div class="panel-heading">Редагування транзакції</div>
			<div class="panel-body">
				<form class="form-inline" ng-submit="editAction()">
					<ng-include src="'templates/_fieldsAction.html'"></ng-include>
					<button type="submit" class="btn btn-primary">Зберегти</button>
					<button type="button" class="btn btn-default" ng-click="getAction()">Відмінити</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group" ng-if="actions.length">
			<li class="list-group-item" ng-repeat="item in actions">
				<div class="rowDate" ng-show="item.date != actions[$index-1].date">{{item.date}}</div>
				<div class="rowData">
                    {{item.accountFrom_title}} <span class="glyphicon {{item.type == 'plus' ? 'glyphicon-arrow-left' : 'glyphicon glyphicon-arrow-right'}}{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}" aria-hidden="true"></span> {{item.type == 'move' ? item.accountTo_title : item.category_title}}
					<button type="button" class="button-icon pull-right"><span class="glyphicon glyphicon-remove" ng-click="delAction(item.id)"></span></button>
					<button type="button" class="button-icon pull-right"><span class="glyphicon glyphicon-edit" ng-click="getAction(item.id)"></span></button>
                    <span class="pull-right{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}">{{item.sum}}</span>
					<div class="rowDescr" ng-show="item.description">{{item.description}}</div>
                </div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="btn btn-primary center-block" ng-click="getActions()" ng-show="isShowMoreButton">Показати щє 20 транзакцій</button>
	</div>
</div>
