<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-hide="formIsShown">{{message.text}}</div>
<div class="modal fade" id="popupEditForm" tabindex="-1" role="dialog" aria-labelledby="popupEditFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="popupEditFormLabel">{{action.id ? 'Редагування' : 'Додавання'}} транзакції</h4>
			</div>
			<div class="modal-body">
				<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-show="formIsShown">{{message.text}}</div>
				<form id="editForm" ng-submit="editAction()">
					<input type="hidden" id="id" ng-model="action.id" />
					<div class="form-group">
						<label for="date">Дата:</label>
						<input type="text" class="form-control" id="date" ng-model="action.date" />
					</div>
					<div class="form-group">
						<label for="type">Тип:</label>
						<select class="form-control" id="type" ng-model="action.type">
							<option value=''>- Оберіть -</option>
							<option value='plus'>Дохід</option>
							<option value='minus'>Витрата</option>
							<option value='move'>Переказ</option>
						</select>
					</div>
					<div class="form-group">
						<label for="accountFrom_id" ng-if="action.type!='move'">Рахунок:</label>
						<label for="accountFrom_id" ng-if="action.type=='move'">Звідки:</label>
						<select class="form-control" id="accountFrom_id" ng-model="action.accountFrom_id">
							<option value=''>- Оберіть -</option>
							<option ng-repeat="item in accounts" value='{{item.id}}'>{{item.title}}</option>
						</select>
					</div>
					<div class="form-group" ng-if="action.type=='move'">
						<label for="accountTo_id">Куди:</label>
						<select class="form-control" id="accountTo_id" ng-model="action.accountTo_id">
							<option value=''>- Оберіть -</option>
							<option ng-repeat="item in accounts" value='{{item.id}}'>{{item.title}}</option>
						</select>
					</div>
					<div class="form-group" ng-if="action.type!='move'">
						<label for="category_id">Категорія:</label>
						<select class="form-control" id="category_id" ng-model="action.category_id">
							<option value=''>- Оберіть -</option>
							<option ng-repeat="item in categories" value='{{item.id}}' ng-if="action.type==item.type">{{item.title}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sum">Сума:</label>
						<input type="text" class="form-control" id="sum" ng-model="action.sum" placeholder="0.00" />
					</div>
					<div class="form-group">
						<label for="description">Коментар:</label>
						<textarea class="form-control" id="description" ng-model="action.description"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="delAction(action.id)" ng-show="action.id">Видалити</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="submit" form="editForm" class="btn btn-primary">{{action.id ? 'Зберегти' : 'Додати'}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-2 col-md-1">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupEditForm" ng-click="getAction(false)">Додати</button>
	</div>
	<div class="col-xs-12 col-sm-10 col-md-5">
		<div class="filter-container">
			<select class="form-control timeInterval" title="Відрізок часу" id="timeInterval" ng-model="filter.timeInterval" ng-change="getActions()">
				<option value='day'>День</option>
				<option value='week'>Тиждень</option>
				<option value='month'>Місяць</option>
				<option value='year'>Рік</option>
				<option value='all'>Весь час</option>
			</select>
			<span class="descr hidden-xs hidden-sm">Відрізок часу</span>
		</div>
		<div class="filter-container">
			<select class="form-control searchBy" title="Рахунок / Категорія" id="searchBy" ng-model="filter.searchBy" ng-change="getActions()">
				<option value=''>- Не вибрано -</option>
				<option value='account-{{item.id}}' ng-repeat="item in accounts">Рахунок "{{item.title}}</option>
				<option value='category-{{item.id}}' ng-repeat="item in categories" class="{{item.type == 'plus' ? 'colorPlus' : 'colorMinus'}}">Категорія "{{item.title}}"</option>
			</select>
			<span class="descr hidden-xs hidden-sm">Рахунок / Категорія</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-11 col-md-5">
		<div class="filter-container">
			<input type="text" class="form-control searchText" title="Текст коментаря" id="searchText" ng-model="filter.searchText" ng-change="getActions()" placeholder="Коментар..." />
			<span class="descr hidden-xs hidden-sm">Текст коментаря</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-1 col-md-1">
		<button type="button" id="printModeButton" class="btn btn-primary" ng-click="togglePrintMode()" title="Друкувати"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well" ng-if="!actions.length">Немає записів</div>
		<ul class="list-group" ng-if="actions.length">
			<li class="list-group-item" ng-repeat="item in actions">
				<div class="rowDate" ng-show="item.date != actions[$index-1].date">{{item.date}}</div>
				<div class="rowData" data-toggle="modal" data-target="#popupEditForm" ng-click="getAction(item.id)">
                    {{item.accountFrom_title}} <span class="glyphicon {{item.type == 'plus' ? 'glyphicon-arrow-left' : 'glyphicon-arrow-right'}}{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}" aria-hidden="true"></span> {{item.type == 'move' ? item.accountTo_title : item.category_title}}
                    <span class="sum pull-right{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}">{{item.sum}}</span>
					<div class="rowDescr" ng-show="item.description">{{item.description}}</div>
                </div>
			</li>
		</ul>
	</div>
</div>
