<div class="row">
    <div class="col-xs-12">
        <div class="userAgreement">
            <h1>Користувацька угода</h1>
            <div class="text">
                <h3>1. Загальні положення</h3>
                1.1. Дана Користувацька угода описує умови, діючі при наданні інформації та послуг цього веб-сервісу (далі – Сервіс).
                <br/>1.2. Сервіс обслуговується Адміністрацією Сервісу (далі – Адміністрація) та являє собою онлайн-сервіс, який надає інформаційні послуги по обліку домашніх фінансів та особистих фінансів користувачам Сервісу (далі – Користувачі).
                <br/>1.3. Будь-яка інформація (текст, зображення, програмні коди, таблиці, схеми та інші об'єкти права інтелектуальної власності), які знаходяться на даному сайті (за виключенням авторських матеріалів), належать Адміністрації. Дана інформація може бути використана тим чи іншим способом тільки при наявності попередньо отриманої письмової згоди Адміністрації.
                <br/><br/>
                <h3>2. Права та обов'язки Користувача</h3>
                2.1. Реєстрація та використання Сервісу Користувачем означає, що Користувач приймає та зобов'язується виконувати всі нижчеприведені умови даної Угоди.
                <br/>2.2. Користувач самостійно оцінює всі ризики, пов'язані з використанням Сервісу, включаючи оцінку надійності, достовірності, повноти або корисності його вмісту.
                <br/><br/>
                <h3>3. Права та обов'язки Адміністрації</h3>
                3.1. Дана Угода може бути повністю або частково змінена Адміністрацією без попереднього повідомлення. Нова редакція Угоди вступає в силу з моменту її опублікування на сайті.
                <br/>3.2. Адміністрація залишає за собою право розсилати Користувачам повідомлення про новини сервісу.
                <br/>3.3. Адміністрація зобов'язується підтримувати функціональність Сервісу та прикладати зусилля для підтримки бесперебійної та безпомилкової його роботи.
                <br/><br/>
                <h3>4. Відповідальність сторін та обмеження відповідальності</h3>
                4.1. Адміністрація не несе відповідальність:
                <br/>4.1.1. за вміст, доступність та достовірність матеріалів, представлених в Сервісі гіперпосиланнями;
                <br/>4.1.2. за будь-яку пряму або непряму шкоду (збитки), заподіяну використанням (так або інакше пов'язану з використанням) або неможливості використання даного Сервісу;
                <br/>4.1.3. за несанкціонований доступ третіх особ до інформації, яка зберігається в системі.
                <br/>4.2. Адміністрація зобов'язується не надавати інформацію про Користувачів для використання третіми особами.
                <br/>4.3. Користувач несе відповідальність за збереження своїх логіна та пароля.
                <br/><br/>
                <h3>5. Політика конфіденційності</h3>
                5.1. Використання Сервісу означає повну та безумовну згоду Користувача з даною політикою конфіденційності та вказаними в ній цілями та умовами обробки його персональних даних.
                <br/>5.2. Користувач, розміщуючи свою особисту інформацію (електронну пошту, облік та розрахунки коштів), надає згоду на обробку цих даних Сервісом.
                <br/>5.3. Обробка Персональних даних включає в себе будь-які дії та/або сукупність дій, котрі пов'язані зі збором, реєстрацією, накопиченням, збереженням, адаптацією, зміненням, оновленням, використанням та поширенням (реалізацією, передачею), видаленням Персональних даних Користувача з ціллю забезпечення роботи Сервісу.
                <br/>5.4. Об'єм Персональних даних Користувача, по відношенню до яких здійснюється обробка, визначається як будь-яка інформація про Користувача (котра розміщена в його обліковому записі).
                <br/>5.5. Сервіс не передає його персональних даних третім особам у відповідності з нормами ст. 21 Закона України «Про захист персональних даних».
                <br/>5.6. Приймаючи дану угоду, користувач підтверджує, що йому зрозумілі його права, визначені Законом України «Про захист персональних даних», а також ціль збору, збереження та обробки його персональних даних. Користувач також дає згоду, що термін обробки його персональних даних є безстроковим.
            </div>
    </div>
</div>
