<div class="row">
    <div class="col-xs-12">
        <div class="userAgreement">
            <h1>Користувацька угода</h1>
            <div class="text">
                <h3>1. Загальні положення</h3>
                1.1. Дана Користувацька угода (далі - Угода) описує умови, діючі при наданні інформації та послуг цього всього веб-сайту (далі – Сайт).
                <br/>1.2. Сайт обслуговується Адміністрацією Сайту та являє собою онлайн-сервіс, який надає інформаційні послуги по обліку домашньої бухгалтерії, а також сервіси по обліку та керуванню особистими фінансами користувачам Сайту (далі – Користувачам).
                <br/>1.3. Будь-яка інформація (текст, зображення, мультимедійні матеріали, програмні коди та інші об'єкти права інтелектуальної власності), які знаходяться на даному Сайті, (за виключенням авторських матеріалів, знаків для товарів та послуг (торгових марок) та інших об'єктів права інтелектуальної власності, які належать третім особам, зокрема, рекламодавцям) належить Адміністрації Сайту. Дана інформація може бути використана тим чи іншим способом тільки при наявності попередньо отриманої письмової згоди Адміністрації Сайту.
                <br/><br/>
                <h3>2. Права та обов'язки Користувача</h3>
                2.1. Реєстрація та використання Сайту Користувачем означає, що Користувач приймає та зобов'язується виконувати всі нижчеприведені умови даної Угоди.
                <br/>2.2. Користувач самостійно оцінює всі ризики, пов'язані з використанням Сайту, включаючи оцінку надійності, достовірності, повноти або корисності його вмісту.
                <br/>2.3. Користувач має право відписатись від отримання розсилок, передбачених сервісом Сайту.
                <br/>2.4. Користувачам, не бажаючим вказувати свою справжню електронну адресу, рекомендується зареєструвати нову електронну адресу на одному із бескоштовних сервісів і перенаправити пошту з нової адреси на існуючу.
                <br/><br/>
                <h3>3. Права та обов'язки Адміністрації Сайту</h3>
                3.1. Дана Угода може бути повністю або частково змінена Адміністрацією Сайту без попереднього повідомлення. Нова редакція Угоди вступає в силу з моменту її опублікування на Сайті.
                <br/>3.2. Адміністрація Сайту залишає за собою право розсилати Користувачам повідомлення про новини сервісу, а також інформацію про пропозиції рекламодавців.
                <br/>3.3. Адміністрація Сайту зобов'язується підтримувати функціональність Сайту та прикладати зусилля для підтримки бесперебійної та безпомилкової його роботи.
                <br/><br/>
                <h3>4. Відповідальність сторін та обмеження відповідальності</h3>
                4.1. Адміністрація не несе відповідальність:
                <br/>4.1.1. за вміст, доступність та достовірність матеріалів, представлених на Сайті гіперпосиланнями;
                <br/>4.1.2. за вміст, направленість та діяльність сайтів компаній, представлених на Сайті гіперпосиланнями;
                <br/>4.1.3. за достовірність рекламних матеріалів, розміщених на сторінках Сайту, а також якість рекламованих в них товарів, робіт та послуг;
                <br/>4.1.4. за будь-яку пряму або непряму шкоду (збитки), заподіяну використанням (так або інакше пов'язану з використанням) або неможливості використання даного Сайту;
                <br/>4.1.5. за несанкціонований доступ третіх особ до інформації, яка зберігається в системі.
                <br/>4.2. Адміністрація Сайту зобов'язується не надавати інформацію про Користувачів Сайту для використання третіми особами.
                <br/>4.3. Користувач несе відповідальність за збереження своїх логіна та пароля.
                <br/><br/>
                <h3>Політика конфіденціальності</h3>
                Використання Сайту означає повну та безумовну згоду Користувача з даною політикою конфіденціальності та вказаними в ній цілями та умовами обробки його персональних даних.
                <br/>1. Користувач Сайту, розміщуючи інформацію про користувача, добровільно надає пошту користувача Сайту.
                <br/>2. Обробка Персональних даних включає в себе будь-які дії та/або сукупність дій, котрі пов'язані зі збором, реєстрацією, накопиченням, збереженням, адаптацією, зміненням, оновленням, використанням та поширенням (реалізацією, передачею), видаленням Персональних даних Користувача з ціллю забезпечення роботи сервісів Сайту.
                <br/>3. Об'єм Персональних даних Користувача, по відношенню до яких здійснюється обробка та які можуть бути включені в бази персональних даних (в тому числі в базу персональних даних резюме), визначається як будь-яка інформація про Користувача (котра розміщена в його обліковому записі).
                <br/>4. Згоди Користувача на обробку його персональних даних не вимагає НАИМЕНОВАНИЕ КОМПАНИИ (или физ лица) та не передає його персональних даних третім особам у відповідності з нормами ст. 21 Закона України «Про захист персональних даних».
                <br/>5. Приймаючи дану угоду, користувач підтверджує, що йому зрозумілі його права, визначені Законом України «Про захист персональних даних», а також ціль збору, збереження та обробки його персональних даних. Користувач також дає згоду, що термін обробки його персональних даних є безстроковим.
                <br/>6. Користувач може в будь-який момент змінити (оновити, доповнити) надані ним персональні дані або їх частину, а також параметри їх конфіденційності, скориставшись функцією редагування та налаштування доступу до особистої інформації, а також вимагати від Компанії повного видалення його аккаунту і всіх персональних даних із бази даних Сайту.
                <br/>7. Ціллю збору, збереження та обробки персональних даних є надання користувачу персоналізованих сервісів Сайту, в тому числі: доступу в особистий розділ, авторизації, нагадування паролю, таргетування рекламних матеріалів, зв'язок з Користувачем, в тому числі направлення повідомлень, запитів та інформації, яка стосується використання Сайту, надання послуг, обробка запитів Користувача, а також інші сервіси Сайту.
            </div>
    </div>
</div>
