<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-hide="formIsShown">{{message.text}}</div>
<div class="modal fade" id="popupEditForm" tabindex="-1" role="dialog" aria-labelledby="popupEditFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="popupEditFormLabel">{{category.id ? 'Редагування' : 'Додавання'}} категорії</h4>
			</div>
			<div class="modal-body">
				<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-show="formIsShown">{{message.text}}</div>
				<form id="editForm" ng-submit="editCategory()">
					<input type="hidden" id="id" ng-model="category.id" />
					<div class="form-group">
						<label for="category_id">Категорія:</label>
						<select class="form-control" id="category_id" ng-model="category.category_id">
							<option value=''>- Оберіть -</option>
							<option ng-repeat="item in categories" value='{{item.id}}' class="{{item.type == 'plus' ? ' colorPlus' : ' colorMinus'}}">{{item.title}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sum">Сума:</label>
						<input type="text" class="form-control" id="sum" ng-model="category.sum" placeholder="0.00" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="delCategory(category.id)" ng-show="category.id">Видалити</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="submit" form="editForm" class="btn btn-primary">{{category.id ? 'Зберегти' : 'Додати'}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row visible-md visible-lg">
	<div class="col-xs-12">
		<div class="btn-toolbar barMonthYear" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default{{year == budget.year ? ' active' : ''}}" ng-repeat="year in years" ng-click="getBudget(year, budget.month)">{{year}}</button>
			</div>
			<div class="btn-group pull-right" role="group">
				<button type="button" class="btn btn-default{{$index+1 == budget.month ? ' active' : ''}}" ng-repeat="month in months" ng-click="getBudget(budget.year, $index+1)">{{months[$index]}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row hidden-md hidden-lg">
	<div class="col-xs-12">
		<div class="dropdown pull-left">
			<button type="button" class="btn btn-default dropdown-toggle" id="ddMenuYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{budget.year}} <span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="ddMenuYear">
				<li class="{{year == budget.year ? ' active' : ''}}" ng-repeat="year in years" ng-click="getBudget(year, budget.month)"><a href="#" onclick="return false;">{{year}}</a></li>
			</ul>
		</div>
		<div class="dropdown pull-left">
			<button type="button" class="btn btn-default dropdown-toggle" id="ddMenuMonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{months[budget.month-1]}} <span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="ddMenuMonth">
				<li class="{{$index+1 == budget.month ? ' active' : ''}}" ng-repeat="month in months" ng-click="getBudget(budget.year, $index+1)"><a href="#" onclick="return false;">{{months[$index]}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupEditForm" ng-click="getCategory(false)">Додати</button>
		<button type="button" class="btn btn-primary" ng-click="copyBudget()">Копіювати бюджет минулого місяця</button>
		<button type="button" id="printModeButton" class="btn btn-primary pull-right" ng-click="togglePrintMode()" title="Друкувати"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
	</div>
</div>
<div class="row" ng-if="budget.categories.length">
	<div class="col-xs-6 balance-head text-right">Баланс план: <span class="{{budget.balancePlan >= 0 ? 'colorPlus' : 'colorMinus'}}">{{budget.balancePlan}}</span></div>
	<div class="col-xs-6 balance-head text-left">Баланс факт: <span class="{{budget.balanceFact >= 0 ? 'colorPlus' : 'colorMinus'}}">{{budget.balanceFact}}</span></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well" ng-if="!budget.categories.length">Немає записів</div>
		<table class="table table-bordered table-hover" ng-if="budget.categories.length">
			<thead class="over-head"><tr>
				<th>Доходи</th>
				<th>{{budget.plusPlan}}</th>
				<th>{{budget.plusFact}}</th>
				<th class="{{budget.plusRest < 0 ? ' colorOverPlus' : '' }}">{{budget.plusRest < 0 ? '+' : ''}}{{mathAbs(budget.plusRest)}}</th>
			</tr></thead>
			<thead class="bg-primary"><tr>
				<th>Категорія</th>
				<th width="90px">План</th>
				<th width="90px">Факт</th>
				<th width="110px">Залишок</th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="item in budget.categories" ng-if="item.type=='plus'" data-toggle="modal" data-target="#popupEditForm" ng-click="getCategory(item.id)">
					<td>{{item.category_title}}</td>
					<td>{{item.plan}}</td>
					<td>{{item.fact}}</td>
					<td class="{{item.plan - item.fact < 0 ? 'colorOverPlus' : '' }}">{{item.plan - item.fact < 0 ? '+' : ''}}{{mathAbs(item.plan - item.fact)}}</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-hover" ng-if="budget.categories.length">
			<thead class="over-head"><tr>
				<th>Витрати</th>
				<th>{{budget.minusPlan}}</th>
				<th>{{budget.minusFact}}</th>
				<th class="{{budget.minusRest < 0 ? ' colorOverMinus' : '' }}">{{budget.minusRest < 0 ? '-' : ''}}{{mathAbs(budget.minusRest)}}</th>
			</tr></thead>
			<thead class="bg-primary"><tr>
				<th>Категорія</th>
				<th width="90px">План</th>
				<th width="90px">Факт</th>
				<th width="110px">Залишок</th>
			</tr></thead>
			<tbody>
				<tr><td colspan="4" class="under-head">{{cats.need}} = {{budget.catsNeedPercent}}%</td></tr>
				<tr ng-repeat="item in budget.categories" ng-if="item.type=='minus' && item.cat=='need'" data-toggle="modal" data-target="#popupEditForm" ng-click="getCategory(item.id)">
					<td>{{item.category_title}}</td>
					<td>{{item.plan}}</td>
					<td>{{item.fact}}</td>
					<td class="{{item.plan - item.fact < 0 ? 'colorOverMinus' : '' }}">{{item.plan - item.fact < 0 ? '-' : ''}}{{mathAbs(item.plan - item.fact)}}</td>
				</tr>
				<tr><td colspan="4" class="under-head">{{cats.want}} = {{budget.catsWantPercent}}%</td></tr>
				<tr ng-repeat="item in budget.categories" ng-if="item.type=='minus' && item.cat=='want'" data-toggle="modal" data-target="#popupEditForm" ng-click="getCategory(item.id)">
					<td>{{item.category_title}}</td>
					<td>{{item.plan}}</td>
					<td>{{item.fact}}</td>
					<td class="{{item.plan - item.fact < 0 ? 'colorOverMinus' : '' }}">{{item.plan - item.fact < 0 ? '-' : ''}}{{mathAbs(item.plan - item.fact)}}</td>
				</tr>
				<tr><td colspan="4" class="under-head">{{cats.save}} = {{budget.catsSavePercent}}%</td></tr>
				<tr ng-repeat="item in budget.categories" ng-if="item.type=='minus' && item.cat=='save'" data-toggle="modal" data-target="#popupEditForm" ng-click="getCategory(item.id)">
					<td>{{item.category_title}}</td>
					<td>{{item.plan}}</td>
					<td>{{item.fact}}</td>
					<td class="{{item.plan - item.fact < 0 ? 'colorOverMinus' : '' }}">{{item.plan - item.fact < 0 ? '-' : ''}}{{mathAbs(item.plan - item.fact)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
