<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-hide="formIsShown">{{message.text}}</div>
<div class="modal fade" id="popupEditForm" tabindex="-1" role="dialog" aria-labelledby="popupEditFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="popupEditFormLabel">Додавання посту</h4>
			</div>
			<div class="modal-body">
				<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-show="formIsShown">{{message.text}}</div>
				<form id="editForm" ng-submit="addPost()">
                    <div class="form-group">
                    	<label for="date">Тема:</label>
                    	<input type="text" class="form-control" id="title" ng-model="post.title" placeholder="Тема" />
                    </div>
                    <div class="form-group">
                    	<label for="type">Категорія:</label>
                    	<select class="form-control" id="category" ng-model="post.category">
                    		<option value=''>- Оберіть -</option>
                    		<option value='public'>Паблік</option>
                    		<option value='bug'>Помилка</option>
                            <option value='feature'>Ідея</option>
                            <option value='thank'>Подяка</option>
                            <option value='question'>Питання</option>
                            <option value='forAdmin'>Адміну</option>
                    	</select>
                    </div>
                    <div class="form-group">
                    	<label for="comment">Перший коментар:</label>
                    	<textarea class="form-control" id="comment" ng-model="post.comment" placeholder="Коментар"></textarea>
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="submit" form="editForm" class="btn btn-primary">Додати</button>
			</div>
		</div>
	</div>
</div>
<div class="row forum-list">
	<div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupEditForm" ng-click="setFormIsShown()">Додати</button>
        <div ng-repeat="(catKey, catTitle) in categories" ng-if="catKey != 'forAdmin' || isAdmin">
            <h3><strong>{{catTitle}}</strong></h3>
    		<div class="list-group">
                <a href="#/forum/{{item.id}}" class="list-group-item" ng-repeat="item in posts" ng-if="item.category == catKey">
                    <h4 class="list-group-item-heading">{{item.title}}<span class="label-status {{item.status}}">{{statuses[item.status]}}</span></h4>
                    <p class="list-group-item-text">Створено: {{item.admin*1 ? 'Admin' : item.email}} ({{item.created}}), Оновлено: {{item.admin_upd*1 ? 'Admin' : item.email_upd}} ({{item.updated}}), {{item.count}} коментарів</p>
                </a>
    		</div>
        </div>
	</div>
</div>
