<div class="row">
    <div class="col-xs-12">
        <div class="userHelp">
            <h1>Як все працює (інструкція)</h1>
            <div class="text">
                <h3>1. Реєстрація</h3>
                <img src="images/help/step1_reg.jpg" alt=""/>
                1.1. Клацніть на пункт меню "Реєстрація"
                <br/>1.2. Введіть свій Email та придумайте пароль, а також обов'язково відмітьте, що ви приймаєте умови користувацької угоди, ви можете прочитати її за посиланням
                <br/>1.3. Тисніть кнопку "Реєструватися"
                <br/>1.4. Якщо все пройшло успішно - вам на вказану пошту вислано листа з посиланням для підтвердження вашої Email, він может бути у СПАМі, в листі просто перейдіть по посиланню
                <br/><br/>
                <h3>2. Авторизація</h3>
                <img src="images/help/step2_login.jpg" alt=""/>
                2.1. Введіть ваш Email, пароль та натискайте кнопку "Увійти"
                <br/>2.2. Якщо ви забули ваш пароль, тисніть посилання "Скинути пароль"
                <br/><br/>
                <h3>3. Рахунки</h3>
                <img src="images/help/step3_acc.jpg" alt=""/>
                3.1. Рахунки слугують для руху і зберігання коштів, створюючи або редагуючи рахунок можна назвати його та вказати початковий баланс. Баланс може бути від'ємний.
                <br/>3.2. Кошти можна кидати з рахунку на рахунок, про це буде нижче (в транзакціях)
                <br/>3.3. Видаляти можна тільки пусті рахунки
                <br/><br/>
                <h3>4. Категорії</h3>
                <img src="images/help/step4_cats.jpg" alt=""/>
                4.1. Кожна категорія має тип доходи або витрати та назву
                <br/>4.2. Будь-яка витрата, чи дохід має категорію, завдяки категоріям можна формувати бюджет на місяць та слідкувати за ним (про це буде нижче)
                <br/>4.3. Видаляти можна тільки пусті категорії
                <br/><br/>
                <h3>5. Транзакції</h3>
                <img src="images/help/step5_trans.jpg" alt=""/>
                5.1. Транзакції - це і є щоденні витрати, або доходи, які потрібно постійно писати сюди
                <br/>5.2. Транзакції мають тип: дохід або витрата а також переказ, коли ви переказуєте кошти з одного рахунку на інший
                <br/>5.3. Також вам треба обрати рахунок з якого списуються кошти у випадку витрати, або на який зараховуються кошти у випадку доходу
                <br/>5.4. Далі треба вибрати категорію транзакції, або, якщо ви просто переказуєте кошти з рахунка на інший рахунок, то замість категорії треба вибрати другий рахунок, куди будуть зараховані кошти
                <br/>5.5. Також ви можете написати коментар до транзакції
                <br/><br/>
                <h3>6. Бюджети</h3>
                <img src="images/help/step6_budg.jpg" alt=""/>
                6.1. Бюджет - це загальна таблиця, яка відображає заплановані витрати і доходи на початку місяця та реальні витрати і доходи на даний момент
                <br/>6.2. Бюджет складається з категорій доходів та витрат за один місяць
                <br/>6.3. На початку місяця формується бюджет на місяць, додаванням категорій та визначенням суми на кожну категорію
                <br/>6.4. Бюджет можна продивитись за кожен минулий місяць, звісно, якщо ви його складали
                <br/>6.5. Баланс план - це різниця між загальними запланованими доходами на місяць та загальними запланованими витратами
                <br/>6.6. Баланс факт - це різниця між загальними фактичними доходами до цього моменту та загальними фактичними витратами до цього моменту
            </div>
    </div>
</div>
