<div class="row">
    <div class="col-xs-12">
        <div class="userAgreement">
            <h1>Як все працює (інструкція)</h1>
            <div class="text">
                <h3>1. Реєстрація</h3>
                1.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>1.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/><br/>
                <h3>2. Транзакції</h3>
                2.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>2.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/><br/>
                <h3>3. Категорії</h3>
                3.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>3.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/><br/>
                <h3>4. Рахунки</h3>
                4.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>4.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/><br/>
                <h3>5. Бюджети</h3>
                5.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>5.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <h3>6. Форум</h3>
                6.1. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
                <br/>6.2. Інфа скоро буде... Інфа скоро буде... Інфа скоро буде...
            </div>
    </div>
</div>
