<div class="row">
	<div class="col-xs-12">
		<h1>Вітаємо в сервісі TrackMoney!</h1>
		<div class="home-descr">Цей сервіс створено, щоб допомогти кожному керувати своїми фінансами. Завдяки плануванню витрат і доходів на місяць ви зможете заощаджувати ваші кошти, планувати дорогі та довгострокові покупки, а також забути що таке борги, адже, ви зможете спланувати свій власний бюджет.</div>
		<div class="home-descr">На даний час сервіс активно розвивається, завдяки Форуму, ви можете пропонувати різні ідеї, які, можливо, будуть реалізовані, а також писати про помилки, ми будемо відповідати швидко :).</div>
		<div class="home-countUser">Кількість користувачів на даний момент: <span>{{countUsers}}</span></div>
		<div class="home-working">
			<h4><strong>Над чим ми працюємо зараз:</strong></h4>
			<ul>
				<li>допрацьовуємо верстку для десктопа та для смартфонів</li>
				<li>всі форми будуть перенесені у вспливаючі вікна для зручності</li>
			</ul>
		</div>
		<div class="home-worked">
			<div class="text-center">
				<button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#workDone" aria-expanded="false" aria-controls="workDone">Що вже зроблено</button>
			</div>
			<div class="collapse" id="workDone">
				<div class="well">
					<h4><strong>А зроблено вже наступне:</strong></h4>
					<ul>
						<li><strong>29.06.2017</strong> Відтепер при авторизації можна повторно послати листа на підтвердження вашого Email</li>
						<li><strong>27.06.2017</strong> Пункт меню "Профіль" - видалення акаунту</li>
						<li><strong>27.06.2017</strong> Пункт меню "Профіль" - можливість зміни паролю</li>
						<li><strong>26.06.2017</strong> Пункт меню "Профіль" - показ інформації (Email, дата реєстрації)</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="home-thank">Дякуємо, що користуєтесь сервісом :)</div>
		<blockquote ng-show="isAuth" class="blockquote-reverse">
  			<p>{{phrase.text}}</p>
  			<footer>{{phrase.author}}</footer>
		</blockquote>
	</div>
</div>
