<div class="row">
	<div class="col-xs-12">
		<h1>Вітаємо в сервісі TrackMoney!</h1>
		<div>Цей сервіс створено, щоб допомогти кожному керувати своїми фінансами.</div>
		<br/><br/><br/>
		<div class="alert alert-danger"><strong>УВАГА! ТЕСТОВИЙ ПЕРІОД!</strong> Зараз сервіс працює у тестовому режимі, це означає що зараз активно допрацьовується і тестується основний функціонал. Будь ласка, якщо ви будете бачити якісь помилки, чи збої - пишіть мені на пошту lysenkoa86@gmail.com<br/><br/><strong>Дякую, що користуєтесь сервісом!<strong></div>
		<br/><br/><br/>
		<h4>Кількість користувачів на даний момент: {{countUsers}}</h4>
		<br/><br/>
		<blockquote ng-show="isAuth" class="blockquote-reverse">
  			<p>{{phrase.text}}</p>
  			<footer>{{phrase.author}}</footer>
		</blockquote>
	</div>
</div>
