<div class="row">
	<div class="col-xs-12">
		<h1>Вітаємо в сервісі TrackMoney!</h1>
		<div class="home-descr">Цей сервіс створено, щоб допомогти кожному керувати своїми фінансами. Завдяки плануванню витрат і доходів на місяць ви зможете заощаджувати ваші кошти, планувати дорогі та довгострокові покупки, а також забути що таке борги, адже, ви зможете спланувати свій власний бюджет.</div>
		<div class="home-descr"><strong>Це безпечно та повністю анонімно :)</strong> Ви лише надаєте нам електронну пошту і більше ніяких особистих даних. Всі розрахунки коштів - просто числа, прив'язані до електронної пошти.</div>
		<div class="home-descr">На даний час сервіс активно розвивається, завдяки Форуму, ви можете пропонувати різні ідеї, які, можливо, будуть реалізовані, а також писати про помилки, ми будемо швидко відповідати та виправляти :).</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 home-btnGooglePlay"><a href='https://play.google.com/store/apps/details?id=com.OleksandrLysenko.TrackMoney&utm_source=https://play.google.com/store/apps/details?id=com.OleksandrLysenko.TrackMoney&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Завантажити з Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/ua_badge_web_generic.png'/></a></div>
			<div class="col-xs-12 col-md-4 home-countUser">Зареєстровано вже <span>{{countUsers}}</span> користувачів!</div>
			<div class="col-xs-12 col-md-4 home-btnLiqPay"><a class="btn btn-success" href="https://www.liqpay.com/ru/checkout/trackmoney" target="_blank" data-toggle="tooltip" data-placement="top" title="Ну хоть 10 гривень киньте!">Закинуть грошенят :)</a></div>
		</div>
		<div class="home-help"><a href="#/help" target="_blank">Як все працює (інструкція)</a></div>
		<div class="home-thank">Дякуємо, що користуєтесь сервісом :)</div>
		<div class="clearfix"></div>
		<blockquote ng-show="isAuth" class="blockquote-reverse">
  			<p>{{phrase.text}}</p>
  			<footer>{{phrase.author}}</footer>
		</blockquote>
	</div>
</div>
