<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-hide="formIsShown">{{message.text}}</div>
<div class="modal fade" id="popupEditForm" tabindex="-1" role="dialog" aria-labelledby="popupEditFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="popupEditFormLabel">Додавання комменту</h4>
			</div>
			<div class="modal-body">
				<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages" ng-show="formIsShown">{{message.text}}</div>
				<form id="editForm" ng-submit="addComment()">
                    <div class="form-group">
                    	<label for="date">Коментар:</label>
                    	<textarea class="form-control" id="comment" ng-model="comment" placeholder="Коментар"></textarea>
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="submit" form="editForm" class="btn btn-primary">Додати</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupEditForm" ng-click="setFormIsShown()">Додати</button>
    </div>
</div>
<div class="row" ng-show="post.category">
	<div class="col-xs-12">
		<div class="list-group forum-list">
            <div class="list-group-item">
                <h3 class="list-group-item-heading">{{post.title}}<span class="label-status {{post.status}}">{{statuses[post.status]}}</span><div class="btn-group statusesMenu" ng-if="isAdmin">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, val) in statuses"><span ng-click="setPostStatus(post.id, key)">{{val}}</a></li>
                    </ul>
                </div></h3>
                <p class="list-group-item-text">Створено: {{post.admin*1 ? 'Admin' : post.email}} ({{post.created}}), Оновлено: {{post.admin_upd*1 ? 'Admin' : post.email_upd}} ({{post.updated}}), {{post.count}} коментарів</p>
            </div>
		</div>
	</div>
</div>
<div class="row comments-list">
	<div class="col-xs-12">
		<div class="list-group" ng-if="comments.length">
            <div class="list-group-item" ng-repeat="item in comments">
                <h5 class="list-group-item-heading">{{item.comment}}</h5>
                <p class="list-group-item-text">{{item.admin*1 ? 'Admin' : item.email}} ({{item.created}})</p>
            </div>
		</div>
	</div>
</div>
