<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages">{{message.text}}</div>
<div class="row" ng-show="post.category">
    <div class="col-xs-12">
        <div class="panel panel-primary">
			<div class="panel-heading">Додавання комменту</div>
			<div class="panel-body">
				<form ng-submit="addComment()">
                    <div class="form-group">
                    	<label for="date">Коментар:</label>
                    	<textarea class="form-control" id="comment" ng-model="comment" placeholder="Коментар"></textarea>
                    </div>
					<button type="submit" class="btn btn-primary">Додати</button>
				</form>
			</div>
		</div>
    </div>
</div>
<div class="row" ng-show="post.category">
	<div class="col-xs-12">
		<div class="list-group forum-list">
            <div class="list-group-item">
                <h3 class="list-group-item-heading">{{post.title}}<span class="label-status {{post.status}}">{{statuses[post.status]}}</span></h3>
                <p class="list-group-item-text">Створено: {{post.email}} ({{post.created}}), Оновлено: {{post.email_upd}} ({{post.updated}}), {{post.count}} коментарів</p>
            </div>
		</div>
	</div>
</div>
<div class="row comments-list">
	<div class="col-xs-12">
		<div class="list-group" ng-if="comments.length">
            <div class="list-group-item" ng-repeat="item in comments">
                <h5 class="list-group-item-heading">{{item.comment}}</h5>
                <p class="list-group-item-text">{{item.email}} ({{item.created}})</p>
            </div>
		</div>
	</div>
</div>
