.colorPlus{
    color: #390;
}
.colorMinus{
    color: #F80;
}
.colorOverPlus{
    color: #390;
}
.colorOverMinus{
    color: #f00;
}





.userAgreement{}





nav.navbar{
    background-color: #678c40;
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
}
    nav.navbar .navbar-header{}
        nav.navbar .navbar-header .navbar-brand{
            padding: 7px 8px 9px;
            height: auto;
        }
            nav.navbar .navbar-header .navbar-brand img{
                height: 54px;
            }
        nav.navbar .navbar-header button.navbar-toggle{
            margin-bottom: 0px;
            margin-top: 18px;
            color: #fff;
        }
            nav.navbar .navbar-header button.navbar-toggle span{
                background-color: #fff;
            }
        nav.navbar .navbar-header button.navbar-toggle:hover, nav.navbar .navbar-header button.navbar-toggle:focus{
            background-color: #e5dd8f;
            border-color: #e5dd8f;
        }
            nav.navbar .navbar-header button.navbar-toggle:hover span, nav.navbar .navbar-header button.navbar-toggle:focus span{
                background-color: #678c40;
            }
    nav.navbar .navbar-collapse{
        padding-top: 20px;
        padding-right: 20px;
    }
        nav.navbar .navbar-collapse ul.navbar-nav{
            margin-left: 0px;
        }
            nav.navbar .navbar-collapse ul.navbar-nav li a{
                color: #fff;
                font-size: 16px;
                line-height: 18px;
                border-radius: 3px;
                padding: 7px 10px;
            }
            nav.navbar .navbar-collapse ul.navbar-nav li a:hover{
                color: #e5dd8f;
            }
                nav.navbar .navbar-collapse ul.navbar-nav li.active a, nav.navbar .navbar-collapse ul.navbar-nav li.active a:hover, nav.navbar .navbar-collapse ul.navbar-nav li.active a:focus{
                    background-color: #e5dd8f;
                    color: #678c40;
                }





.main{
    background-color: #ffffff;
    padding: 40px 0px 30px;
}
    .main .table{
    	border: none;
    }
        .main .table thead>tr>th{
        	text-align: center;
        	border-bottom-width: 1px;
        }
        .main .table thead.over-head>tr>th{
        	border: none;
        }
        	.main .table thead.over-head>tr>th:first-child{
        		text-align: left;
        		padding: 2px;
        		font-size: 20px;
        	}
        .main .table tbody>tr>td>.button-icon{
        	padding: 0;
        	cursor: pointer;
        	background: 0 0;
        	border: 0;
        	top: 2px;
        	position: relative;
        }
        	.main .table tbody>tr>td>.button-icon>span{
        		font-size: 16px;
        		font-weight: 700;
        		line-height: 1;
        		color: #000;
        		opacity: .2;
        	}
        	.main .table tbody>tr>td>.button-icon>span:hover{
        		opacity: 1;
        	}
    .main .panel{}
        .main .panel .panel-heading{
        	font-weight: 700;
        }
    .main .balance-head{
    	font-size: 20px;
    }
    .main blockquote{
        margin-top: 50px;
    }





.footer{
    height: 30px;
    background-color: #e5dd90;
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
    line-height: 14px;
}










@media screen and (max-width: 650px){}
