<ion-view view-title="Рахунки">
    <ion-content ng-class="{ionViewAccounts: true, headerMarginTop: true, marginForAccountsTop: accountsPanel.length}">
        <div class="emptyListText" ng-if="!accounts.length">Немає записів</div>
        <ion-list ng-if="accounts.length">
            <ion-item ng-repeat="item in accounts">{{item.title}}<span class="item-note{{item.balance >= 0 ? ' colorPlus' : ' colorMinus'}}">{{item.balance}}</span></ion-item>
        </ion-list>
    </ion-content>
</ion-view>
