<ion-view view-title="Транзакції">
    <ion-content class="ionViewActions headerMarginTop">
        <div class="emptyListText" ng-if="!actions.length">Немає записів</div>
        <ion-list ng-if="actions.length">
            <ion-item class="listItem" ng-repeat="item in actions">
                <div class="row rowDate" ng-show="item.date != actions[$index-1].date">
                    <div class="col">{{item.date}}</div>
                </div>
                <div class="row rowData" ng-click="editActionOpenModal(item.id)">
                    <div class="col">
                        {{item.accountFrom_title}} <i class="icon {{item.type == 'plus' ? 'ion-arrow-left-c' : 'ion-arrow-right-c'}}{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}"></i> {{item.type == 'move' ? item.accountTo_title : item.category_title}}
                        <span class="item-note{{item.type == 'plus' ? ' colorPlus' : (item.type == 'minus' ? ' colorMinus' : ' colorMove')}}">{{item.sum}}</span>
                    </div>
                </div>
                <div class="row rowDescr" ng-show="item.description">{{item.description}}</div>
            </ion-item>
        </ion-list>
        <div class="row" ng-if="actions.length">
        	<div class="col">
        		<button class="button button-block button-positive" ng-click="getActions()" ng-show="isShowMoreButton">Показати щє 20 транзакцій</button>
        	</div>
        </div>
    </ion-content>
</ion-view>
