<ion-view view-title="Бюджет">
    <ion-content ng-class="{ionViewBudgets: true, headerMarginTop: true, marginForAccountsTop: accountsPanel.length}">
        <div class="row">
            <div class="col col-50">
                <label class="item item-input item-select select-years">
                    <select ng-model="budget.year" ng-change="getBudget()">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input item-select select-months">
                    <select ng-model="budget.month" ng-change="getBudget()">
                        <option ng-repeat="month in months" value="{{$index+1}}">{{month}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="emptyListText" ng-if="!budget.categories.length">Немає записів</div>
        <div ng-if="budget.categories.length">
            <div class="row">
                <div class="col text-center totalSum">Баланс план: <span class="{{budget.balancePlan >= 0 ? 'colorPlus' : 'colorMinus'}}">{{budget.balancePlan}}</span></div>
                <div class="col text-center totalSum">Баланс факт: <span class="{{budget.balanceFact >= 0 ? 'colorPlus' : 'colorMinus'}}">{{budget.balanceFact}}</span></div>
            </div>
            <div class="row padding-top">
                <div class="col col-40">Доходи</div>
                <div class="col col-20">{{budget.plusPlan}}</div>
                <div class="col col-20">{{budget.plusFact}}</div>
                <div class="col col-20{{budget.plusRest < 0 ? ' colorOverPlus' : '' }}">{{budget.plusRest < 0 ? '+' : ''}}{{mathAbs(budget.plusRest)}}</div>
            </div>
            <div class="row tableHead">
                <div class="col col-40 text-center">Категорія</div>
                <div class="col col-20 text-center">План</div>
                <div class="col col-20 text-center">Факт</div>
                <div class="col col-20 text-center">Решта</div>
            </div>
            <div class="row tableRow" ng-repeat="item in budget.categories" ng-if="item.type=='plus'">
                <div class="col col-40">{{item.category_title}}</div>
                <div class="col col-20">{{item.plan}}</div>
                <div class="col col-20">{{item.fact}}</div>
                <div class="col col-20{{item.plan - item.fact < 0 ? ' colorOverPlus' : '' }}">{{item.plan - item.fact < 0 ? '+' : ''}}{{mathAbs(item.plan - item.fact)}}</div>
            </div>
            <div class="padding-top"></div>
            <div class="row">
                <div class="col col-40">Витрати</div>
                <div class="col col-20">{{budget.minusPlan}}</div>
                <div class="col col-20">{{budget.minusFact}}</div>
                <div class="col col-20{{budget.minusRest < 0 ? ' colorOverMinus' : '' }}">{{budget.minusRest < 0 ? '-' : ''}}{{mathAbs(budget.minusRest)}}</div>
            </div>
            <div class="row tableHead">
                <div class="col col-40 text-center">Категорія</div>
                <div class="col col-20 text-center">План</div>
                <div class="col col-20 text-center">Факт</div>
                <div class="col col-20 text-center">Решта</div>
            </div>
            <div class="row tableRow" ng-repeat="item in budget.categories" ng-if="item.type=='minus'">
                <div class="col col-40">{{item.category_title}}</div>
                <div class="col col-20">{{item.plan}}</div>
                <div class="col col-20">{{item.fact}}</div>
                <div class="col col-20{{item.plan - item.fact < 0 ? ' colorOverMinus' : '' }}">{{item.plan - item.fact < 0 ? '-' : ''}}{{mathAbs(item.plan - item.fact)}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
